   

@model HomeViewModel
<section id="team" class="team">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Our Team</h2>
            <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem.</p>
        </div>

        <div class="row">

            @foreach (var item in Model.Teams)
            {
                <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up">
                    <div class="member">
                        <div class="pic"><img src="~/Uploads/Team/@item.FormFile" class="img-fluid" alt=""></div>
                        <div class="member-info">
                            <h4>@item.Fullname</h4>       
                             <span>@item.Profession.Name</span>
                            <div class="social">
                                <a href="@item.Twit"><i class="bi bi-twitter"></i></a>
                                <a href="@item.FB"><i class="bi bi-facebook"></i></a>
                                <a href="@item.Insta"><i class="bi bi-instagram"></i></a>
                                <a href="@item.Linkedin"><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            }
            

            

        </div>

    </div>
</section><!-- End Our Team Section -->